---
title: Verificación de la verificación i9 de empleo
description: La Ley de Control y reforma de la inmigración de los EE. UU. obliga a los empleadores a verificar la empleabilidad de los nuevos empleados.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 544c298f83c4b1838a94aee95ed6038fcc1f4e4f
ms.sourcegitcommit: 3ba95d50b8262fa0f43d4faad76adac4d05eb3ea
ms.translationtype: HT
ms.contentlocale: es-ES
ms.lasthandoff: 09/27/2019
ms.locfileid: "2179895"
---
# <a name="employment-verification-i9-verification"></a>Verificación de la verificación i9 de empleo

[!include [task guide banner](../../../includes/task-guide-banner.md)]

La Ley de Control y reforma de la inmigración de los EE. UU. obliga a los empleadores a verificar la empleabilidad de los nuevos empleados. Este procedimiento le mostrará los pasos necesarios para registrar los documentos necesarios para la verificación I-9. Sírvase de la empresa USMF para este procedimiento.

1. Vaya a Recursos humanos > Trabajadores > Empleados.
2. Use el filtro rápido para buscar registros. Por ejemplo, filtre el campo Nombre según el valor "Vince".
3. Seleccione el empleado. Ejemplo: Vince Prado
4. Expanda la ficha desplegable Información personal.
5. Haga clic en Números de identificación.
6. Haga clic en Nuevo.
7. Seleccione el tipo de identificación que va a registrar. Por ejemplo, Pasaporte.
8. En el campo Número, escriba un valor.
9. Seleccione Sí en el campo Principal.
10. En el campo Descripción, especifique una breve descripción del registro de identificación.
11. En la agencia emisora, seleccione la agencia que emitió el formulario de identificación al trabajador. Por ejemplo, Gobierno.
12. Escriba la fecha en la que la agencia emisora emitió el formulario de identificación al trabajador. Por ejemplo, 15/02/2011.
13. Especifique la fecha en la que vence el formulario de identificación. Por ejemplo, 15/02/2021.
14. Haga clic en Guardar.
15. Cierre la página.
16. Haga clic en la ficha Empleo.
17. Haga clic en I-9.
18. Haga clic en Nuevo.
19. En el campo Elegibilidad para el trabajo, seleccione una opción.
    * Si el empleado necesita un permiso de trabajo, el usuario debe especificar su número de residencia o de identificación de extranjeros.  
20. Seleccione la opción de la lista de grupo A.
    * La lista que seleccione dependerá del formulario de identificación proporcionado por el trabajador. El trabajador debe proporcionar un documento de la lista A o un documento de la lista B y C. Por ejemplo, si el trabajador ha proporcionado un pasaporte, se podrá seleccionar la lista A. Sin embargo, si el trabajador ha proporcionado solo su carné de conducir y su tarjeta de la Seguridad Social, se deberá seleccionar la lista B y la lista C.  
21. En el campo Tipo de documento I-9, seleccione el tipo de documento que proporcionó el trabajador.
22. En el campo Número de documento, especifique o seleccione un valor.
23. Haga clic en Guardar.

