---
title: Verificación de la verificación i9 de empleo
description: La Ley de Control y reforma de la inmigración de los EE. UU. obliga a los empleadores a verificar la empleabilidad de los nuevos empleados.
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: b76102111a8506882f2301d76856ae1a34a7c704
ms.sourcegitcommit: 3a7f1fe72ac08e62dda1045e0fb97f7174b69a25
ms.translationtype: HT
ms.contentlocale: es-ES
ms.lasthandoff: 01/31/2022
ms.locfileid: "8065690"
---
# <a name="employment-verification-i9-verification"></a>Verificación de la verificación i9 de empleo

[!include [banner](../../../includes/banner.md)]


[!INCLUDE [PEAP](../../../../../includes/peap-1.md)]

La Ley de Control y reforma de la inmigración de los EE. UU. obliga a los empleadores a verificar la empleabilidad de los nuevos empleados. Este procedimiento le mostrará los pasos necesarios para registrar los documentos necesarios para la verificación I-9. Sírvase de la empresa USMF para este procedimiento.

1. Vaya a **Recursos humanos \> Trabajadores \> Empleados**.
2. Use el filtro rápido para buscar registros. Por ejemplo, filtre un valor de **Vince** para el campo **Nombre**.
3. Seleccione el empleado. Por ejemplo, seleccione **Vince Prado**.
4. Seleccione la ficha desplegable **Información personal**.
5. Seleccione **Números de identificación**.
6. Seleccione **Nuevo**.
7. Seleccione el tipo de identificación que va a registrar. Por ejemplo, seleccione **Pasaporte**.
8. En el campo **Número**, escriba un valor.
9. En el campo **Primario**, seleccione **Sí**.
10. En el campo **Descripción**, especifique una breve descripción del registro de identificación.
11. En el campo **Agencia emisora**, seleccione la agencia que emitió el formulario de identificación al trabajador. Por ejemplo, seleccione **Gobierno**.
12. Escriba la fecha en la que la agencia emisora emitió el formulario de identificación al trabajador. Por ejemplo, escriba **15/02/2011** (15 de febrero de 2011).
13. Especifique la fecha en la que vence el formulario de identificación. Por ejemplo, escriba **15/2/2021** (15 de febrero de 2021).
14. Seleccione **Guardar**.
15. Cierre la página.
16. Seleccione la ficha **Empleo**.
17. Seleccione **I-9**.
18. Seleccione **Nuevo**.
19. En el campo **Elegibilidad para el trabajo**, seleccione una opción.

    Si el empleado necesita un permiso de trabajo, el usuario debe especificar su número de residencia o de identificación de extranjeros.

20. Seleccione la opción **GroupListA**.

    La lista que seleccione dependerá del formulario de identificación proporcionado por el trabajador. Un trabajador debe proporcionar un documento de la Lista A o un documento de la Lista B y la Lista C. Por ejemplo, si el trabajador proporcionó un pasaporte, puede seleccionar la Lista A. Sin embargo, si el trabajador proporcionó solo un carnet de conducir y tarjeta de la Seguridad Social, debe seleccionar la Lista B y la Lista C.

21. En el campo **Tipo de documento I-9,** seleccione el tipo de documento que proporcionó el trabajador.
22. En el campo **Número de documento**, especifique o seleccione un valor.
23. Seleccione **Guardar**.

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
