---
title: Verificación de la verificación i9 de empleo
description: La Ley de Control y reforma de la inmigración de los EE. UU. obliga a los empleadores a verificar la empleabilidad de los nuevos empleados.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: josaw
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 4d7346507179d237f60459978b9b7c6351f48611
ms.sourcegitcommit: 0f530e5f72a40f383868957a6b5cb0e446e4c795
ms.translationtype: HT
ms.contentlocale: es-ES
ms.lasthandoff: 01/29/2019
ms.locfileid: "333332"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="1ea3e-103">Verificación de la verificación i9 de empleo</span><span class="sxs-lookup"><span data-stu-id="1ea3e-103">Employment verification i9 verification</span></span>

[!include [task guide banner](../../../includes/task-guide-banner.md)]

<span data-ttu-id="1ea3e-104">La Ley de Control y reforma de la inmigración de los EE. UU. obliga a los empleadores a verificar la empleabilidad de los nuevos empleados.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="1ea3e-105">Este procedimiento le mostrará los pasos necesarios para registrar los documentos necesarios para la verificación I-9.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="1ea3e-106">Sírvase de la empresa USMF para este procedimiento.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="1ea3e-107">Vaya a Recursos humanos > Trabajadores > Empleados.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="1ea3e-108">Use el filtro rápido para buscar registros.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="1ea3e-109">Por ejemplo, filtre el campo Nombre según el valor "Vince".</span><span class="sxs-lookup"><span data-stu-id="1ea3e-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="1ea3e-110">Seleccione el empleado.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-110">Select the employee.</span></span> <span data-ttu-id="1ea3e-111">Ejemplo: Vince Prado</span><span class="sxs-lookup"><span data-stu-id="1ea3e-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="1ea3e-112">Expanda la ficha desplegable Información personal.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="1ea3e-113">Haga clic en Números de identificación.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="1ea3e-114">Haga clic en Nuevo.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-114">Click New.</span></span>
7. <span data-ttu-id="1ea3e-115">Seleccione el tipo de identificación que va a registrar.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="1ea3e-116">Por ejemplo, Pasaporte.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-116">Example: Passport</span></span>
8. <span data-ttu-id="1ea3e-117">En el campo Número, escriba un valor.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="1ea3e-118">Seleccione Sí en el campo Principal.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="1ea3e-119">En el campo Descripción, especifique una breve descripción del registro de identificación.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="1ea3e-120">En la agencia emisora, seleccione la agencia que emitió el formulario de identificación al trabajador.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="1ea3e-121">Por ejemplo, Gobierno.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-121">Example: Government</span></span>
12. <span data-ttu-id="1ea3e-122">Escriba la fecha en la que la agencia emisora emitió el formulario de identificación al trabajador.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="1ea3e-123">Por ejemplo, 15/02/2011.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="1ea3e-124">Especifique la fecha en la que vence el formulario de identificación.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="1ea3e-125">Por ejemplo, 15/02/2021.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="1ea3e-126">Haga clic en Guardar.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-126">Click Save.</span></span>
15. <span data-ttu-id="1ea3e-127">Cierre la página.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-127">Close the page.</span></span>
16. <span data-ttu-id="1ea3e-128">Haga clic en la ficha Empleo.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="1ea3e-129">Haga clic en I-9.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-129">Click I-9.</span></span>
18. <span data-ttu-id="1ea3e-130">Haga clic en Nuevo.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-130">Click New.</span></span>
19. <span data-ttu-id="1ea3e-131">En el campo Elegibilidad para el trabajo, seleccione una opción.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="1ea3e-132">Si el empleado necesita un permiso de trabajo, el usuario debe especificar su número de residencia o de identificación de extranjeros.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="1ea3e-133">Seleccione la opción de la lista de grupo A.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="1ea3e-134">La lista que seleccione dependerá del formulario de identificación proporcionado por el trabajador.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="1ea3e-135">El trabajador debe proporcionar un documento de la lista A o un documento de la lista B y C. Por ejemplo, si el trabajador ha proporcionado un pasaporte, se podrá seleccionar la lista A.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="1ea3e-136">Sin embargo, si el trabajador ha proporcionado solo su carné de conducir y su tarjeta de la Seguridad Social, se deberá seleccionar la lista B y la lista C.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="1ea3e-137">En el campo Tipo de documento I-9, seleccione el tipo de documento que proporcionó el trabajador.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="1ea3e-138">En el campo Número de documento, especifique o seleccione un valor.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="1ea3e-139">Haga clic en Guardar.</span><span class="sxs-lookup"><span data-stu-id="1ea3e-139">Click Save.</span></span>

